@import "../templates.less";

.alert {
    p {
        font-family: @HelveticaCyrBold;
        font-weight: bold;
        text-align: right;
        font-size: 1.1vw;
        padding: 2.7vh 1.5vw 2.5vh 0;
    }
    position: absolute;
    right: 0;
    width: 60%;
    min-height: 8vh;
}

.alert-success {
    color: #8abf4c;
}

.alert-error {
    color: #d25010;
}