.buy-button {
    font-family: @HelveticaCyrBold;
    font-weight: bolder;
    background-color: @blue;
    border: 2px solid @blue;
    position: absolute;
    bottom: 2vh;
    right: 2vw;
    border-radius: 50px;
    outline: none;
    color: #fff;
    padding: 1.7vh 2.5vw;
    font-size: 1.3vw;
    &:hover {        
        transition: 0.5s;
        background-color: #fff;
        color: @blue;
        cursor: pointer;
    }
}

.disabled {
    pointer-events: none;
    cursor: default;
    background-color: @grey;
    border: 2px solid @grey;
}