@import "../templates.less";

header {
    position: absolute;
}

#app {   
    .cabinet-app {
        ul.cabinet-nav {            
            li {
                a {
                    font-family: @HelveticaCyrLight;
                    color: @white;
                    font-size: 2.5vh;
                    text-decoration: none;
                    padding: 2vh 1vw 1vh;
                    &:hover {
                        transition: 0.3s;
                        background-color: #84828054;
                    }
                }              
                display: inline-block;
                width: 50%;
                text-align: center;
            }  
            position: absolute;
            list-style-type: none;
            width: 17%;
            top: 5.7vh;
            left: 35%;
        }        
        .app-page {
            .preview {
                img {
                    position: absolute;
                    bottom: 0;
                    right: 2vw;
                    height: 67vh;
                    width: 25vw; 
                }
                position: relative;
                background-image: url("/assets/images/background.png");
                background-repeat: no-repeat;
                height: 62vh;
                width: 25%;
                float: left;
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
            }
            .page {                
                position: absolute;
                height: 40vh;
                width: 66%;
                right: 0;
                top: 10vh;
            }
            height: inherit;
            width: 90%;
            float: right;
        }    
        position: relative;        
        height: 50vh;
        margin: 0 auto;
        background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
        background-repeat: no-repeat;
        background-size: 100% 50vh;
        background-position: 0 9.5vh;
    }    
    padding-top: 15vh;
}

.white-line {
    p {
        font-family: @HelveticaCyrLight;
        color: @blue;
        text-align: right;
        font-size: 1.1vw;
        padding: 3.8vh 4vw 0 0;  
    }
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    bottom: 7vh;
    z-index: -1;
}