@import "../templates.less";

.color-picker {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: absolute;
    width: 340px;
    height: 20vh;
    top: 14vh;
    left: 0;
}

.color-picker > div {
    width: 100%;
    height: 10px;
    display: inline-block;
}

.color-info {    
    span {
        padding: 0 7px;
        &:first-child {
            color: @grey;
        }     
    }
    .color-value {
        font-family: @HelveticaCyrBold;
        font-weight: bolder;
    }
    margin-top: 14px;
    position: absolute;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 20px 0;    
    width: 200px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
max-width: 200px;
height: 5px;
margin: 0 auto;
cursor: pointer;
animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: @blue;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: @blue;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
}