@import "../templates.less";

.app-page-footer {
    font-family: @HelveticaCyrLight;
    .last-login {
        position: absolute;
        color: @grey;
        font-size: 1vw;
        top: 2.7vh;
        left: 10%;
    }
    .balance { 
        position: absolute;             
        color: @blue;        
        top: 3.5vh;
        left: 34%;
        font-size: 1.4vw;
    }
    .info {
        position: absolute;
        display: block;  
        color: @grey;      
        font-size: 1.1vw;
        text-align: right;
        right: 1vw;  
        top: 2.5vh;   
        width: 35%;
    }
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    bottom: 15vh;
    left: 0;  
    z-index: -1;  
}