@import "../templates.less";
@import "./buyButton.less";

.shop {
    ul {
        li {
            a {
                font-weight: bolder;
                display: block;
                color: #fff;
                text-decoration: none;
                background-color: @blue;
                padding: 2vh 0;
                margin: 1.2vh 1vw;                
                &:hover {
                    transition: 0.5s;
                    cursor: pointer;
                    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
                }
            }
            list-style-type: none;
            float: left;
            min-width: 185px;
            width: 15vw;
        }
        font-family: @HelveticaCyrLight;
        text-align: center;
        width: 70%;
        margin: 10vh auto 0;        
    }    
}