@import '../templates.less';

.user-info {
    font-family: @HelveticaCyrLight;
    .main {
        p:first-child {
            font-family: @HelveticaCyrBold;
            font-weight: bolder;
            color: @blue;
            font-size: 3vw;
        }
        .exp {
            color: @grey;
            font-size: 1vw;
        }
        position: absolute;
        right: 30%;
        top: 14vh;
    }
    .common {
        .name {
            font-family: @HelveticaCyrBold;
            font-weight: bolder;
            color: @darkgrey;
            font-size: 1.7vw;
            display: inline;
        }
        .level {
            color: @blue;
            font-size: 1vw;
            padding-left: 0.5vw;
        }
        .email {
            color: @grey;
            padding: 0 0 1vh 1.5vw;
            font-size: 0.9vw;
        }
        position: absolute;
        top: 2vh;
    }
    .clan-name {
        position: absolute;
        font-family: @HelveticaCyrRoman;
        color: @grey;
        font-size: 1.5vw;
        bottom: 1.3vh;
        right: 1vw;
    }
    .clan-rank {
        position: absolute;
        color: @black;
        font-size: 1.8vw;        
        top: 14.5vh;
    }
    .clan-rep {
        position: absolute;
        color: @grey;
        font-size: 1vw;        
        top: 19vh;
    }
    .phone {
        position: absolute;
        color: @grey;
        font-size: 1vw;        
        top: 22vh; 
    }
    .premium {
        position: absolute;
        font-family: @HelveticaCyrRoman;        
        color: @grey;
        top: 0;
        right: 1vw;
        font-size: 2vh;
    }
    .time-in-game {
        position: absolute;
        color: @blue;
        font-size: 1.4vw;
        padding-top: 5px;
        bottom: 1vh;
    }    
}