@import '../templates.less';

@import 'login.less';
@import 'register.less';

.login, .register {
    font-family: @HelveticaCyrLight;
    .title {
        position: absolute;
        bottom: 46vh;
        right: 7vw;
        color: @white;
        font-size: 3.5vw;
    }
    .pilot {
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 60vh;
            width: 25vw; 
        }
        position: relative;
        background-image: url("/assets/images/form-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: inherit;
        width: 35%;
        margin-left: 3vw;
        float: left;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }
    .form, .success-form {
        input {
            color: @blue;            
            text-align: center;
            display: block;
            width: 90%;
            outline: none;
            border-radius: 30px;
            border: 2px solid @blue;
        }        
        button {
            position: absolute;
            background-color: @white;
            color: @blue;
            border: 2px solid @blue;
            border-radius: 40px;
            outline: none;
            &:hover {
                background-color: @blue;
                color: @white;
                cursor: pointer;
            }
        }
        .error-message {
            display: none;
            text-align: center;
            font-size: .9vw;            
            color: red;
        }
        width: 59%;
        height: 100%;
        float: right;
    }    
    position: relative;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-repeat: no-repeat;
    background-size: 100% 40vh;
    background-position: 0 5vh;
    width: 55%;
    height: 50vh;
    margin: 17vh auto 0;
}