.login {
    .form {
        input {
            padding: 1vh 0;            
            margin: 2vh auto;
            font-size: 1vw;
        }
        button {
            font-size: 2vw;
            bottom: 14.5vh;
            right: 3vw;
            padding: 1vh 1.5vw;
        }
        .g-recaptcha {
            margin: 4.3vh 0 0 2vw;
        }
        .error-message {
            margin-top: 4vh;
        }
        margin-top: 10vh;
    }
}