.register {
    .form {
        input {
            padding: 0.8vh 0;            
            margin: 1.5vh auto;
            font-size: 0.8vw;
        }
        small {
            color: @grey;
            padding: 0 0 2px 1.5vw;
        }
        .referal {
            margin: 0 auto 1vh;
        }
        button {
            font-size: 1vw;
            bottom: 12vh;
            right: 1vw;
            padding: 1vh 1.5vw;
        }
        .g-recaptcha {
            margin: 2vh 0 0 2vw;
        }
        .error-message {
            margin-top: 1vh;
        }
        margin-top: 6vh;
    }
    .success-form {
        display: none;
        h1 {
            color: @blue;
            font-size: 2.5vw;
            margin-top: 12vh;
        }
        p {
            font-size: 1vw;
            margin-top: 1vh;
        }
        a {
            display: block;
            font-family: @HelveticaCyrBold;
            background-color: @blue;
            border: 2px solid @blue;
            color: #fff;
            text-decoration: none;            
            font-weight: bolder;
            font-size: 1vw;
            padding: 2vh 1vw;
            margin: 10vh auto 0;
            width: 30%;                                   
            border-radius: 30px;
            &:hover {
                transition: 0.6s;
                background-color: #fff;
                color: @blue;
            }
        }
        position: relative;
        text-align: center;
    }
}