@import "../../templates.less";

.name-color-page {
    font-family: @HelveticaCyrLight;
    .good-name {
        font-weight: lighter;
        color: @blue;
        font-size: 2vw;
        padding-top: 2vh;
    }
    .name {
        position: absolute;
        font-family: @HelveticaCyrBold;
        font-weight: bolder;
        font-size: 4vw;
        left: 35%;
        top: 14.5vh;
    }
    .price {
        position: absolute;
        color: @grey;
        font-size: 1.2vw;
        left: 0;
        bottom: 2vh;
    } 
}