@import "../../templates.less";

.name-change-page {
    font-family: @HelveticaCyrLight;
    .good-name {
        font-weight: lighter;
        color: @blue;
        font-size: 2vw;
        padding-top: 2vh;
    }
    .current-name {
        position: absolute;
        color: @grey;
        font-size: 1.2vw;
        left: 6%;
        top: 13vh;
    }
    .name {
        position: absolute;
        font-family: @HelveticaCyrLight;
        font-size: 2.5vw;
        left: 6%;
        top: 17vh;
    }
    .new-name {
        position: absolute;
        font-family: @HelveticaCyrBold;
        font-size: bolder;
        color: @blue;
        font-size: 5vw;
        right: 15%;
        top: 14vh;
        width: 37%;
        border: none;
        outline: none;
        text-align: center;
    }
    .arrow {
        position: absolute;
        top: 19vh;
        left: 36%;
    }
    .price {
        position: absolute;
        color: @grey;
        font-size: 1.2vw;
        left: 0;
        bottom: 2vh;
    }
}