@import "../../templates.less";

.phone-change-page {
    font-family: @HelveticaCyrLight;    
    .good-name {
        font-weight: lighter;
        color: @blue;
        font-size: 2vw;
        padding-top: 2vh;
    }
    .current-phone {
        position: absolute;
        color: @grey;
        font-size: 1.2vw;
        left: 15%;
        top: 13vh;
    }
    .phone {
        position: absolute;
        font-size: 3vw;
        left: 16%;
        top: 17vh;
    }
    .new-phone {
        position: absolute;
        color: @blue;
        font-size: 4vw;
        right: 20%;
        top: 16vh;
        width: 30%;
        border: none;
        outline: none;
        text-align: center;
    }
    .arrow {
        position: absolute;
        top: 19vh;
        left: 38%;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .price {
        position: absolute;
        color: @grey;
        font-size: 1.2vw;
        left: 0;
        bottom: 2vh;
    }      
}