@import '../../templates.less';

.premium-page {
    font-family: @HelveticaCyrLight;
    .good-name {
        font-weight: lighter;
        color: @blue;
        font-size: 2vw;
        padding-top: 1vh;
    }
    .price {
        position: absolute;
        color: @grey;
        font-size: 1.2vw;
        left: 0;
        bottom: 2vh;
    }
    .description {
        li {
            color: @grey;
            font-size: 0.9vw;
            float: left;
            margin: 0 2vw 1vh 0;
            min-width: 300px;
            &::before {
                color: @blue;
                content: '+ ';
            }
        }
        list-style: none; 
        position: absolute;        
        width: 70%;
        bottom: 8vh;
        left: 20%;
    } 
    .premium-types {    
        [type="radio"]:not(:checked),
        [type="radio"]:checked {
            opacity: 0;
            position: absolute;
            visibility: hidden
        }
        [type="radio"] + label {
            cursor: pointer;
            position: relative;
        }
        label {
            font-size: 2vw;
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: @blue;
            padding: 2vh 3vw;
            box-sizing: border-box;
            user-select: none;
            &:hover {
                transition: 0.4s;
                color: #fff;
                background: @blue;
            }
            &:not(:last-child) {
                border-right: 1px solid @blue;
            }
        }
        [type="radio"]:checked + label {
            background: @blue;
            color: #fff;
        };
        position: absolute;
        width: 60%;
        top: 10vh;
        left: 15%;
        display: flex;
        justify-content: space-between;
        border: 1px solid @blue;
        border-radius: 3em;
        overflow: hidden;
    }
}