@import "../../templates.less";

.skin-reset-page {
    font-family: @HelveticaCyrLight;
    .good-name {
        font-weight: lighter;
        color: @blue;
        font-size: 2vw;
        padding-top: 1vh;
    }
    .price {
        position: absolute;
        color: @grey;
        font-size: 1.2vw;
        left: 0;
        bottom: 2vh;
    }
    .description {
        p {
            text-align: center;
            line-height: 1.5;
            font-size: 1.1vw;
        }
        position: absolute;
        width: 60%;
        height: 25vh;
        top: 10vh;
        left: 16%;
    } 
}