@import "../../templates.less";

.temp-skin-page {
    font-family: @HelveticaCyrLight;
    .good-name {
        font-weight: lighter;
        color: @blue;
        font-size: 2vw;
        padding-top: 1vh;
    }
    .price {
        position: absolute;
        color: @grey;
        font-size: 1.2vw;
        left: 0;
        bottom: 2vh;
    }
    .description {
        p {
            text-align: center;
            line-height: 1.5;
            font-size: 1.1vw;
        }
        position: absolute;
        width: 60%;
        height: 25vh;
        top: 10vh;
        left: 16%;
    } 
    .count {
        span {
            font-family: @HelveticaCyrBold;
            font-weight: bolder;
            font-size: 1vw;
            padding-right: 1.7vw;
        }
        input {
            outline: none;
            border: 1px solid @black;
            border-radius: 10px;
            text-align: center;
            padding: 5px 0 3px;
            font-size: 1vw;
            width: 5vw;
        }
        position: absolute;
        width: 40%;
        bottom: 10vh;
        left: 35%;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    } 
}