@import 'templates.less';

.donate {
    font-family: @HelveticaCyrLight;
    .title {
        position: absolute;
        bottom: 46vh;
        right: 7vw;
        color: @white;
        font-size: 3.5vw;
    }
    .description {
        text-align: center;
        color: @white;
        h1 {
            font-weight: lighter;
            margin-top: 10vh;
        }
        p {
            margin-top: 2vh;
            font-size: 0.9vw;
            padding: 0 1vw;
        }
        .attention {
            margin-top: 3vh;
            color: @white;
        }
        position: relative;
        background-image: url("/assets/images/form-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: inherit;
        width: 35%;
        margin-left: 3vw;
        float: left;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    }
    .form {
        input {
            color: @blue;            
            text-align: center;
            display: block;
            width: 90%;
            outline: none;
            border-radius: 30px;
            border: 2px solid @blue;
            padding: 1vh 0;            
            margin: 2vh auto;
            font-size: 1vw;
        }  
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }       
        button {
            position: absolute;
            background-color: @white;
            color: @blue;
            border: 2px solid @blue;
            border-radius: 40px;
            outline: none;
            font-size: 1.5vw;
            bottom: 15vh;
            right: 2vw;
            padding: 1vh 1.5vw;
            &:hover {                
                background-color: @blue;
                color: @white;
                cursor: pointer;
            }
        }
        .g-recaptcha {
            margin: 4.3vh 0 0 2vw;
        }
        .error-message {
            display: none;
            text-align: center;
            font-size: .9vw;            
            color: red;
            margin-top: 4vh;
        }
        width: 59%;
        height: 100%;
        float: right;
        margin-top: 10vh;
    }
    .handle-form {
        h1 {
            font-weight: lighter;            
            margin-top: 8vh;
            font-size: 1.8vw;
        }
        .success {
            color: @blue;
        }
        .fail {
            color: red;
        }
        p {
            line-height: 1.47;
            font-size: 1vw;
            width: 60%;
            margin: 3vh auto 0;
        }
        .info {
            color: @blue;
            margin-top: 2.5vh;
            font-size: 0.9vw;
        }
        text-align: center;
        position: absolute;
        width: 100%;
        height: 80%;
        margin-top: 5vh;
    }  
    position: relative;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-repeat: no-repeat;
    background-size: 100% 40vh;
    background-position: 0 5vh;
    width: 55%;
    height: 50vh;
    margin: 17vh auto 0;
}