@import 'templates.less';
@import 'site.less';

body {
    background-image: none !important;
}

header {
    position: absolute !important;
}

.main-info {
    .gang-man {
        position: absolute;
        width: 39%;
        height: 78%;
        top: 29.1vh;
        right: 7%;
        z-index: 10;
    }
    .inner-panel {
        div.video {
            iframe {
                width: 30vw;
                height: 50vh;
            }
            position: absolute;
            width: 30vw;
            top: 4vh;
            right: 0.36vw;
        }
        position: relative;
        top: 80vh;
        left: 18%;      
        background: url("/assets/images/inner-panel.png") no-repeat;
        background-size: 100%;
        width: 67%;
        height: 57vh;        
    }
    .pilot {
        position: absolute;
        top: 67.6vh;
        left: 11%;
        height: 75%;
        width: 28%;
    }
    .outer-panel {
        font-family: @HelveticaCyrLight;
        .project-name {            
            color: @blue;
            font-size: 2vw;            
            padding: 5vh 2.5vw 0;
        }
        .project-info {
            color: @darkgrey;
            font-size: 1vw;
            padding: 1.5vh 2.5vw 0;
        }
        .server-info {
            .title {
                padding-bottom: 2vh;
                color: lighten(@blue, 30%);
                font-size: 1vw;
            }
            .ip {
                font-size: 2vw;
                color: #fff;  
            }
            .online {
                font-family: @HelveticaCyrRoman;
                color: #fff;             
                font-size: 1vw;
                padding: 1vh; 
            }
            background-color: @blue;
            text-align: center;
            width: 100%;
            margin: 8vh auto;
            padding: 2vh 0 3vh;
        }
        .start-play {
            text-decoration: none;
            text-align: center;
            font-family: @HelveticaCyrBold;
            font-weight: bolder;
            font-size: 1vw;
            background-color: @blue;
            border: 2px solid @blue;
            color: #fff;
            padding: 2vh 1vw;
            display: block;
            width: 40%;
            margin: 12vh auto 0;
            border-radius: 30px;
            &:hover {
                transition: 0.6s;
                background-color: #fff;
                color: @blue;
            }
        }
        position: absolute;
        top: 74vh;
        left: 29%;  
        width: 25%;
        height: 70vh;    
        background-color: #fff;
        box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
    position: relative;
    background-image: url("/assets/images/header-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
}

.social {
    .icons {
        i {
            color: #fff;
            font-size: 2.3vw;
            margin: 0 1.6vw;
        }
        width: 50%;
        float: right;
        margin: 1.6vh 5vw 0 0;
    }
    position: absolute;
    background: url("/assets/images/social-zone.png") no-repeat;
    width: 50%;
    height: 8vh;
    right: 0;
    margin-top: 61vh;
    z-index: 20;
}

footer {
    font-family: @HelveticaCyrLight;
    .pilot {
        position: absolute;
        width: 25%;
        height: 120%;
        bottom: 0;
        left: 8%;
    }
    .contacts {
        .project {
            font-size: 5vw;
        }
        .copyright {
            font-size: 1vw;
            text-align: right;
        }
        position: absolute;
        color: @white;        
        top: 22vh;
        right: 22vw;
    }
    .free-kassa {
        position: absolute;
        right: 3px;
        bottom: 0;
    }
    position: relative;
    background: url("/assets/images/footer-background.png") no-repeat;
    width: 100%;
    height: 55vh;
    margin-top: 65vh;    
}

* {
    margin: 0;
    padding: 0;
}