@import 'templates.less';

.news {
    font-family: @HelveticaCyrLight;   
    ul.news-feed > li {
        .wrap-text {
            .header {
                font-family: @HelveticaCyrBold;
                font-weight: bolder;
                color: @blue;
                margin: 1vh;
                font-size: 1.2vw;
                text-align: center;   
                padding-top: 2vh; 
            }
            img {
                display: block;
                padding: 1vw;                
                width: 49%;
                height: 25vh;
                border-radius: 30px;
                margin: 0 auto;
            }
            .news-body {
                .main-text {
                    text-align: left;
                    white-space: pre-wrap;
                    line-height: 1.4;
                    padding: 2vh 2vw 2.5vh;
                    color: @white;
                    font-size: 0.9vw;
                }
                .article-btn {
                    display: block;
                    background-color: @blue;
                    font-size: 1.1vw;
                    text-align: center;
                    padding: 2vh 4vw;
                    color: #fff;
                    outline: none;
                    width: 5vw;
                    margin: 0 auto 4vh;
                    text-decoration: none;
                    border-radius: 30px;
                    &:hover {
                        transition: 0.5s;
                        background-color: #fff;
                        color: @blue;
                    }
                }
            }            
            .news-stat {
                i::before {
                    margin-right: 5px; 
                }
                .likes {                    
                    float: right;
                }
                font-family: @HelveticaCyrBold;
                font-weight: bolder;
                color: @blue;                
                bottom: 1vh; 
                padding: 1vh 1vw;               
            }        
            word-wrap: break-word;
            text-overflow: ellipsis;
            display: block;
            position: relative;            
            min-height: 50vh;
        }
        background-color: rgba(34, 34, 34, .7);
        border-radius: 10px;
        padding: 5px 10px;
        margin: 10px 0 30px;
        list-style-type: none;        
    }
    width: 50%;
    height: 50vh;
    margin: 5vh auto;
}