@import 'templates.less';

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url('/assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.site-page {    
    height: 91.5vh; 
}

header {
    img {
        position: absolute;
        left: 2vw;
        top: 2vh;
        height: 4.5vh;
        &:hover {
            cursor: pointer;
        }
    }
    a {
        text-decoration: none;
        color: @white;
        padding: 3.5vh 1vw;
        font-family: @HelveticaCyrLight;
        font-size: 1.8vh;
        &:hover {
            transition: 0.2s;
            background-color: #84828054;
            border-bottom: 5px solid @blue;
        }
    }
    nav {
        width: 40%;
        float: left;
        margin: 3vh 0 0 20%;
    }
    .auth {
        float: right;
        margin: 3vh 5% 0 0;
    }
    position: relative;
    width: 100%;
    height: 8.5vh;
    z-index: 10;
}

* {
    margin: 0;
    padding: 0;
}

@import 'start.less';
@import 'about.less';
@import 'news.less';