.start {
    font-family: @HelveticaCyrLight;
    .title {
        position: absolute;
        bottom: 71vh;
        left: 0;
        color: @white;
        font-size: 3vw;
    }
    .start-info-message {
        .project-name {
            color: @blue;
        }
        font-size: 1vw;
        padding: 8vh 0 1vh;
        text-align: center;        
    }
    h2 {
        color: @blue;
        padding: 2vh 0 0 2vw;
        font-size: 1.3vw;
    }
    ol {
        li {
            a {
                color: @blue;
            }
            .attention {
                color: @aqua;
            }
            .danger {
                color: @darkred;
            }
        }
        padding: 0 5vw;
    }
    position: relative;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-repeat: no-repeat;
    background-size: 100% 60vh;
    background-position: 0 5vh;
    width: 50%;
    height: 75vh;
    margin: 7vh auto 0;
    line-height: 1.5;
}