@font-face {
    :global {
        font-family: 'HelveticaCyrLight';
        src: url('/fonts/HelveticaNeueCyr-Light.ttf'); 
    }
}
@HelveticaCyrLight: 'HelveticaCyrLight', sans-serif;

@font-face {
    :global {
        font-family: 'HelveticaCyrBold';
        src: url('/fonts/HelveticaNeueCyr-Bold.ttf'); 
    }
}
@HelveticaCyrBold: 'HelveticaCyrBold', sans-serif;

@font-face {
    :global {
        font-family: 'HelveticaCyrRoman';
        src: url('/fonts/HelveticaNeueCyr-Roman.ttf'); 
    }
}
@HelveticaCyrRoman: 'HelveticaCyrRoman', sans-serif;

/* 
** Colors
*/
@blue: #4e9ded;
@darkgrey: #313131;
@grey: #8e8e8e;
@white: #ffffff;
@black: #2f2f29;
@aqua: #0ea5a5;
@darkred: #c2483f;